In [26]:
import pandas as pd
url="https://raw.githubusercontent.com/johnosullivan/ml-horse-prediction/master/data/training-2016-10-01-2016-12-31.csv"
race_data = pd.read_csv(url)

In [27]:
race_data.head(5)

,row_id,entry_id,morning_line,post_pos,offset,post,speed,horse_win,horse_wps,horse_roi,...,min_races,previous_break,days_since,same_track,same_driver,last_race_res,last_race_wps,last_three_races,purse,finish_pos
0,2016-10-01_Batavia Downs_1_Highview Conall N_F...,2016-10-01_Batavia Downs_1_False,3-1,4,1,1,0,0,0,1,...,1,1,0,0,0,1,1,1,1,1
1,2016-10-01_Batavia Downs_1_Heaven Rocks_False,2016-10-01_Batavia Downs_1_False,7-2,2,1,1,1,0,0,0,...,1,1,1,1,1,0,1,1,0,3
2,2016-10-01_Batavia Downs_1_Foreign Officer_False,2016-10-01_Batavia Downs_1_False,6-5,5,1,1,1,0,0,0,...,1,1,1,1,1,1,1,1,-1,4
3,2016-10-01_Batavia Downs_1_Knocking Around_False,2016-10-01_Batavia Downs_1_False,2-1,3,1,1,1,0,0,1,...,1,1,1,1,1,0,0,1,0,2
4,2016-10-01_Batavia Downs_1_Milliron Pete_False,2016-10-01_Batavia Downs_1_False,9-2,1,1,1,1,0,0,1,...,1,1,1,1,0,0,0,1,0,5

In [28]:
race_data.shape

(95518, 26)

In [29]:
horse_data = race_data.dropna(subset=['horse_roi','last_three_races','finish_pos'])

In [30]:
horse_data.shape

(95518, 26)

In [ ]:
#value of finished_pos is set to 0 if horse placed 3rd or higher, 1 if horse placed in 1st or 2nd
#finished = horse_data[['finish_pos']].values
for i in (len(horse_data['finish_pos'])):
    #x = finished[i]
   # if x >= 3:
   #     x = 0
   # else:
    #    x = 1
    #finished[i] = x 
    print(horse_data['finish_pos'].values)

In [32]:
#horse_data['finish_pos'] = horse_data['finish_pos'].map(lambda x: 1 if x >= 3 else 0)

In [43]:
new_hd= horse_data[['horse_roi', 'last_three_races', 'finish_pos']].copy()
new_hd

       horse_roi  last_three_races  finish_pos
0              1                 1           1
1              0                 1           3
2              0                 1           4
3              1                 1           2
4              1                 1           5
5              0                 1           1
6              0                 1           2
7              0                 1           3
8              0                 1           6
9              0                 1           5
10             0                 1           4
11             1                 1           7
12             0                 1           8
13             0                 1           3
14             0                 1           6
15             0                 1           1
16             0                 1           2
17             0                 1           4
18             0                 1           5
19             0                 1           8
20             1                 1           7
21             1                 1           1
22             0                 1           4
23             0                 1           6
24             0                 1           2
25             0                 1           5
26             0                 1           3
27             0                 1           7
28             0                 1           6
29             0                 1           5
...          ...               ...         ...
95488          0                 1           3
95489          1                 1           2
95490          0                 1           4
95491          0                 1           5
95492          0                 1           8
95493          0                 1           7
95494          1                 0           1
95495          0                 1           6
95496          1                 1           7
95497          0                 1           4
95498          0                 1           3
95499          0                 1           5
95500          0                 1           2
95501          0                 1           1
95502          0                 1           7
95503          0                 1           3
95504          0                 1           2
95505          1                 1           4
95506          0                 1           0
95507          0                 1           6
95508          0                 1           5
95509          0                 1           1
95510          0                 1           5
95511          1                 1           3
95512          0                 1           2
95513          1                 1           0
95514          0                 1           4
95515          0                 1           0
95516          0                 1           7
95517          0                 1           6

[95518 rows x 3 columns]